@font-face {
	font-family: Principal;
	src:url(../fonts/Orbitron-VariableFont_wght.ttf);
}

:root {
  --verde: #42e96b;
  --branco: #ffffff;
  --preto: #000000;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
	font-family: Principal;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: var(--verde);
}

#main-play-area {
  background: var(--preto);
  background-image: url(../img/space.png);
  height: 600px;
  width: 600px;
}

.game-instructions {
  position: relative;
  color: var(--branco);
  text-align: center;
  top: 0px;
}

.start-button {
  position: relative;
  color: var(--branco);
  text-align: center;
  top: 11rem;
  cursor: pointer;
}

.player-shooter {
  position: relative;
  height: 60px;
  width: 70px;
  left: 20px;
  top: 250px;
}

.laser {
  position: relative;
  width: 40px;
  height: 30px;
}

.alien {
  position: relative;
  height: 60px;
  width: 70px;
}

.alien-transition {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.dead-alien {
  position: relative;
  height: 60px;
  width: 70px;
  opacity: 0;
}